// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Buttons
// * Structure & Detail
// * Mixins
// * Contextual variations
//   - Default
//   - Primary
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Structure & Detail
// ============================================================
/*
<button class="button is-icon-left" type="button">
  <span class="button-body">
    <img class="button-icon" src="assets/images/icons/icon-edit.svg" alt="Icon">
    <span class="button-text">BUTTON_TEXT</span>
  </span>
</button>

<a class="button-outline is-icon-left" href="#" target="...">
  <span class="button-body">
    <img class="button-icon" src="assets/images/icons/icon-edit.svg" alt="Icon">
    <span class="button-text">BUTTON_TEXT</span>
  </span>
</a>

<a class="button-alphabet is-icon-left" href="#" target="...">
  <span class="button-body">
    <img class="button-icon" src="assets/images/icons/icon-edit.svg" alt="Icon">
    <span class="button-text">BUTTON_TEXT</span>
  </span>
</a>
*/

// Mixins
// ============================================================
@mixin button-variant(
  // Body
  $button-min-width: $button-min-width,
  $button-height: $button-height,
  $button-padding: 0 10px,
  $button-background-color: $color-red-1,
  $button-border-width: 0,
  $button-border-color: transparent,
  $button-border-radius: $border-radius-xs,
  $button-box-shadow: 0 0 0 rgba(0, 0, 0, 0),

  // Body hover
  $button-background-color-hover: $color-red-1,
  $button-border-width-hover: 0,
  $button-border-color-hover: transparent,

  // Text
  $button-text-style: $text-style-secondary-body-sm,
  $button-text-color: $color-white,

  // Text hover
  $button-text-color-hover: $color-white
) {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  display: inline-block;
  min-width: $button-min-width;
  height: $button-height;
  padding: $button-padding;
  background-color: $button-background-color;
  border-style: solid;
  border-width: $button-border-width;
  border-color: $button-border-color;
  border-radius: $button-border-radius;
  vertical-align: middle;
  box-shadow: $button-box-shadow;
  cursor: pointer;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .button-body {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .button-icon {
    display: inline-block;
    vertical-align: middle;
  }

  .button-text {
    @extend #{$button-text-style};
    font-size: 15px; // good render size for thai text
    color: $button-text-color;
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>
  &:hover {
    background-color: $button-background-color-hover;
    border-width: $button-border-width-hover;
    border-color: $button-border-color-hover;
    text-decoration: none;

    .button-text {
      color: $button-text-color-hover;
    }
  }

  &:active,
  &:focus {
    box-shadow: $button-box-shadow;
  }

  &:focus {
    outline: none;
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  // Width
  &.is-fluid {
    width: 100%;
    min-width: 1px;
  }

  &.is-minwidth-small {
    min-width: 100px;
  }

  // Spacing
  &.is-icon-left {
    .button-icon {
      margin-right: 10px;
    }
  }

  &.is-icon-right {
    .button-icon {
      margin-left: 10px;
    }
  }

  // Text size
  &.is-body-text-extra-small {
    .button-text {
      font-size: $font-size-primary-body-xs;
    }
  }

  // Color
  &.is-cancel {
    background-color: $color-gray-5;
  }

  &.is-disabled {
    pointer-events: none;
    background-color: $color-gray-5;
  }

  &.is-active {
    background-color: $color-green-1;
  }

  &.is-gray {
    background-color: $color-gray-3;
  }

  // Icon size
  &.is-icon-medium {
    .button-icon {
      width: auto;
      height: 18px;
    }
  }

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// Default
// ------------------------------------------------
.button {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include button-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Outline
// ------------------------------------------------
.button-outline {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include button-variant(
    // Body
    $button-background-color: transparent,
    $button-border-width: 1px,
    $button-border-color: $color-red-1,

    // Body hover
    $button-background-color-hover: transparent,
    $button-border-width-hover: 1px,
    $button-border-color-hover: $color-red-1,

    // Text
    $button-text-color: $color-red-1,

    // Text hover
    $button-text-color-hover: $color-red-1
  );

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Text
// ------------------------------------------------
.button-alphabet {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include button-variant(
    // Body
    $button-height: auto,
    $button-padding: 0,
    $button-background-color: transparent,

    // Body hover
    $button-background-color-hover: transparent,

    // Text
    $button-text-style: $text-style-secondary-body-sm,
    $button-text-color: $color-red-1,

    // Text hover
    $button-text-color-hover: $color-red-1
  );

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
