// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Checkbox
// * Structure & Detail
// * Mixins
// * Contextual variations
//   - Default
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Structure & Detail
// ============================================================
/*
<div class="checkbox">
  <input class="checkbox-input" id="remember-checkbox" name="" value="" type="checkbox">
  <label class="checkbox-label" for="remember-checkbox">LABEL_NAME</label>
</div>
*/

// Mixins
// ============================================================
@mixin checkbox-variant(
) {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  position: relative;
  display: inline-block;
  vertical-align: middle;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .checkbox-input {
    opacity: 0;
    position: absolute;
    z-index: $z-index-1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:checked {
      + .checkbox-label {
        &:before {
          background-color: $color-green-1;
        }

        &:after {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .checkbox-label {
    @extend #{$text-style-primary-body-xs};
    cursor: pointer;
    display: flex;
    align-items: center;
    color: $color-gray-3;

    &:before,
    &:after {
      @include transition($transition-default);
      content: ' ';
      display: inline-block;
      vertical-align: middle;
    }

    &:before {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      background-color: $color-gray-7;
      border-radius: 50%;
    }

    &:after {
      @include translateY(-50%);
      visibility: hidden;
      opacity: 0;
      position: absolute;
      z-index: $z-index-1;
      top: 50%;
      left: 0;
      width: 16px;
      height: 16px;
      background: url('#{$path-file-icons}/icon-check.svg') no-repeat center;
      background-size: contain;
    }
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-no-label {
    .checkbox-label {
      &:before {
        margin-right: 0;
      }
    }
  }

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// Default
// ------------------------------------------------
.checkbox {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include checkbox-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
