// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Field
// * Structure & Detail
// * Mixins
// * Contextual variations
//   - Default
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Structure & Detail
// ============================================================
/*
<div class="field is-horizontal is-error">
  <label class="field-label">LABEL</label>
  <div class="field-input-container">
    <input class="field-input" type="text" placeholder="Insert text" />
    <p class="field-message">Message</p>
  </div>
</div>

<div class="field is-vertical is-error">
  <label class="field-label">LABEL</label>
  <div class="field-input-container">
    <input class="field-input" type="text" placeholder="Insert text" />
    <p class="field-message">Message</p>
  </div>
</div>

<div class="field">
  <div class="field-input-container">
    <textarea class="field-input" placeholder="Insert text"></textarea>
  </div>
  <p class="field-message">Message</p>
</div>

<div class="field is-select">
  <div class="field-input-container">
    <select class="field-input">
      <option value="">OPTION</option>
    </select>
  </div>
  <p class="field-message">Message</p>
</div>
*/

// Mixins
// ============================================================
@mixin field-variant(
) {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .field-input-container {
    display: inline-block;
    vertical-align: middle;
  }

  .field-input {
    @include placeholder($color-gray-5);
    @extend #{$text-style-primary-body-sm};
    width: 100%;
    height: 32px;
    padding: 0 10px;
    border: 1px solid $color-gray-2;
    border-radius: $border-radius-xs;
    color: $color-black;

    &:focus {
      outline: none;
    }
  }

  textarea {
    &.field-input {
      resize: none;
      min-height: 100px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  select {
    &.field-input {
      cursor: pointer;
      padding-right: 30px;
    }
  }

  .field-label {
    @extend #{$text-style-primary-body-sm-medium};

    flex: none;
    color: $color-black;
  }

  .field-label-center {
    @extend #{$text-style-primary-body-sm-medium};
    flex: none;
    margin-left: 15px;
    margin-right: 15px;
    color: $color-black;
    text-align: center;
  }

  .field-label-require {
    position: relative;
    top: -2px;
    display: inline-block;
    color: $color-red-1;
    vertical-align: middle;
  }

  .field-info {
    @extend #{$text-style-primary-body-sm};
    word-break: break-word;
    color: $color-black;

    &.is-link {
      text-decoration: underline;
      color: $color-blue-1;
    }

    &.is-success {
      color: $color-green-1;
    }

    &.is-error {
      color: $color-red-1;
    }

    &.is-spacing-right {
      margin-right: 15px;
    }
  }

  .field-message {
    @extend #{$text-style-primary-body-xs};
    display: none;
    width: 100%;
    margin-top: 5px;
  }

  .field-add-button {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
  }

  .field-file-operation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .field-file-button {
    position: relative;

    .field-input {
      opacity: 0;
      position: absolute;
      z-index: $z-index-1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .field-file-list {
    padding-top: 15px;
  }

  .field-file-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .field-file-name {
    @extend #{$text-style-primary-body-md};
    color: $color-black;
  }

  .field-file-delete-button {
    flex: none;
    padding-left: 10px;

    .icon {
      width: 10px;
      height: auto;
    }
  }

  .field-unit {
    @extend #{$text-style-primary-body-md};
    min-width: 30px;
    padding-left: 10px;
    color: $color-red-1;
    text-align: center;
  }

  .field-list {
    .field-list-item {}

    &.is-horizontal {
      display: flex;
      align-items: center;

      .field-list-item {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &.is-vertical {
      .field-list-item {
        margin-bottom: 10px;
      }
    }

    &.is-badge {
      padding-top: 3px;
    }
  }

  .field-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    min-width: 50px;
    height: 18px;
    background-color: $color-gray-3;
    border-radius: 3px;

    .field-badge-text {
      @extend #{$text-style-secondary-body-sm};
      font-size: 10px;
      line-height: 1;
      color: $color-white;
    }

    &.is-success {
      background-color: $color-green-1;
    }

    &.is-error {
      background-color: $color-red-1;
    }
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-error,
  &.is-success {
    .field-message {
      display: block;
    }
  }

  &.is-error {
    .field-input {
      border-color: $color-red-2;
    }

    .field-message {
      color: $color-red-2;
    }
  }

  &.is-success {
    .field-input {
      border-color: $color-green-1;
    }

    .field-message {
      color: $color-green-1;
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-fluid {
    width: 100%;

    .field-input-container {
      width: 100%;
    }
  }

  &.is-min-width {
    .field-input-container {
      width: 150px;
    }
  }

  &.is-select {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &:after {
      content: ' ';
      pointer-events: none;
      position: absolute;
      z-index: $z-index-1;
      top: 2px;
      right: 2px;
      display: block;
      width: 28px;
      height: 28px;
      background: $color-white url('#{$path-file-icons}/icon-select.svg') no-repeat center;
    }

    &.is-additional-select {
      &:after {
        right: 31px;
      }
    }
  }

  &.is-horizontal {
    flex-wrap: nowrap;

    .field-label,
    .field-label-center {
      align-self: flex-start;
      padding-top: calc(#{$field-height}/4);
    }

    .field-add-button {
      align-self: flex-start;
      padding-top: calc(#{$field-height}/5);
    }

    .field-label {
       margin-right: 15px;
    }

    &.is-select {
      display: flex;
      flex-wrap: wrap;

      .field-input-container {
        flex: 1;
      }
    }
  }

  &.is-vertical {
    .field-label {
      width: 100%;
      margin-bottom: 5px;
    }
  }

  &.is-login-form {
    .field-label {
      width: 100%;
      max-width: 65px;
    }
  }

  &.is-info {
    .field-info {
      padding-top: calc(#{$field-height}/4);
    }

    .field-info-status {
      padding-top: calc(#{$field-height}/5);
      padding-left: 30px;
    }
  }

  &.is-info-field {
    .field-info {
      display: flex;
      align-items: center;
      min-width: 150px;
      height: 32px;
      padding: 0 10px;
      border: 1px solid $color-red-1;
      border-radius: 3px;
    }
  }

  &.is-duration-date {
    .field-input-container {
      display: flex;
      align-items: center;
    }
  }

  // Label width for alignment
  &.is-label-width-mn {
    .field-label {
      min-width: $label-width-mn;
    }
  }

  &.is-label-width-tn {
    .field-label {
      min-width: $label-width-tn;
    }
  }

  &.is-label-width-xxs {
    .field-label {
      min-width: $label-width-xxs;
    }
  }

  &.is-label-width-sm {
    .field-label {
      min-width: $label-width-sm;
    }
  }

  &.is-label-width-md {
    .field-label {
      min-width: $label-width-md;
    }
  }

  &.is-label-width-lg {
    .field-label {
      min-width: $label-width-lg;
    }
  }

  // Alignment spacing
  &.is-add-button-align {
    .field-input-container {
      padding-right: 30px;
    }
  }

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// Default
// ------------------------------------------------
.field {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include field-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
