// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Header
// * Structure & Detail
// * Mixins
// * Contextual variations
//   - Default
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Structure & Detail
// ============================================================
/*
<div class="header is-container-content-right">
  <h2 class="header-heading">HEADING</h2>
  <div class="header-container">
    <ul class="header-list">
      <li class="header-list-item">
        LIST_ITEM
      </li>
      <li class="header-list-item">
        LIST_ITEM
      </li>
    </ul>
  </div>
</div>

<div class="header is-partition-line-heading">
  <div class="header-container">
    <a class="header-heading-button" href="#">
      <img class="header-heading-button-icon" src="assets/images/icons/icon-back.svg" alt="Icon">
      <span class="header-heading-button-text">
        BUTTON_NAME
      </span>
    </a>
  </div>
  <h2 class="header-heading">HEADING</h2>
</div>
*/

// Mixins
// ============================================================
@mixin header-variant(
) {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  margin-bottom: 15px;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .header-heading {
    @extend #{$text-style-secondary-heading-xs-medium};
    width: 100%;
    color: $color-black;
  }

  .header-sub-heading {
    @extend #{$text-style-secondary-body-lg-medium};
    width: 100%;
    color: $color-red-1;
  }

  .header-heading-button {
    display: flex;
    align-items: center;
  }

  .header-heading-button-icon {
    display: block;
    width: 10px;
    height: auto;
    margin-right: 10px;
  }

  .header-heading-button-text {
    @extend #{$text-style-secondary-body-xl-medium};
    color: $color-black;
  }

  .header-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .header-list {
    display: flex;
    align-items: center;
  }

  .header-list-item {
    display: block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-container-content-right {
    .header-container {
      justify-content: flex-end;
    }
  }

  &.is-partition-line-heading {
    margin-bottom: 30px;

    .header-heading {
      padding-bottom: 15px;
      border-bottom: 2px solid $color-red-1;
      text-align: right;
    }
  }

  &.is-partition-line-subheading {
    margin-bottom: 5px; // 15px

    .header-heading {
      @extend #{$text-style-secondary-body-lg-medium};
      padding-bottom: 5px;
      border-bottom: 1px solid $color-red-1;
    }
  }

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// Default
// ------------------------------------------------
.header {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include header-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
