// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// list
// * Structure & Detail
// * Mixins
// * Contextual variations
//   - Default
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Structure & Detail
// ============================================================
/*

*/

// Mixins
// ============================================================
@mixin list-variant() {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  display: flex;
  align-items: center;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .list-item {
    display: flex;
    align-items: center;
    flex: none;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  .list-item-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;

    &.is-circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;

      &.is-circle-success {
        background-color: $color-green-1;
      }

      &.is-circle-error {
        background-color: $color-red-1;
      }

      &.is-circle-pending {
        background-color: $color-yellow-1;
      }
    }
  }

  .list-item-text {
    @extend #{$text-style-primary-body-sm};
    color: $color-gray-3;
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// Default
// ------------------------------------------------
.list {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include list-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-hint {
    margin-bottom: 20px;
  }

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
