// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Menu
// * Structure & Detail
// * Mixins
// * Contextual variations
//   - Default
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Structure & Detail
// ============================================================
/*
<div class="menu">
  <div class="menu-container">
    <ul class="menu-list">
      <li class="menu-list-item">
        <a class="menu-list-link" href="#">XXX. XXXXXXXXXX</a>
        <div class="menu is-level-1">
          <div class="menu-container">
            <ul class="menu-list">
              <li class="menu-list-item">
                <a class="menu-list-link" href="#">XXX.XXX XXXXXXXXXX</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="menu-list-item">
        <a class="menu-list-link" href="#">XXX. XXXXXXXXXX</a>
      </li>
    </ul>
  </div>
</div>
*/

// Mixins
// ============================================================
@mixin menu-variant(
) {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include transition($transition-default);
  @include translateY(10px);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: $z-index-1;
  top: 100%;
  left: 0;
  margin-top: 17px;


  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .menu-container {
    width: 225px; // 215
    padding: 5px;
    background-color: $color-white;
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-1;
  }

  .menu-list {
    display: block;
  }

  .menu-list-item {
    @include transition($transition-default);
    position: relative;
    display: block;
    padding: 5px 10px;
    border-radius: $border-radius-sm;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $color-red-1;

      > .menu-list-link {
        color: $color-white;
      }

      > .menu {
        &.is-level-1 {
          @include translateX(0);
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .menu-list-link {
    @include transition($transition-default);
    @extend #{$text-style-primary-body-sm};
    display: block;
    color: $color-red-1;
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-active {
    @include translateY(0);
    visibility: visible;
    opacity: 1;
  }

  &.is-level-1 {
    @include translateX(-15px);
    visibility: hidden;
    opacity: 0;
    top: -5px;
    left: 100%;
    margin-top: 0;
    padding-left: 15px;
  }

  &.is-right {
    left: auto;
    right: -3px;
  }

  &.is-small {
    .menu-container {
      width: 150px;
    }
  }

  &.is-medium {
    .menu-container {
      width: 250px;
    }
  }

  &.is-large {
    .menu-container {
      width: 285px;
    }
  }

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// Default
// ------------------------------------------------
.menu {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include menu-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
