// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// modal
// * Structure & Detail
// * Mixins
// * Contextual variations
//   - Default
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Structure & Detail
// ============================================================
/*
<div class="modal is-active">
  <div class="container is-modal">
    ...
  </div>
</div>
*/

// Mixins
// ============================================================
@mixin modal-variant(
) {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include transition($transition-default);
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: $z-index-2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: $color-white;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .modal-container {
    @include transition($transition-default);
    transform: translateY(-30px);
    visibility: hidden;
    opacity: 0;
    width: 100%;
    max-width: $breakpoint-mobile-sm;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-white;
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-1;
  }

  .modal-close-button {
    @extend #{$text-style-primary-heading-lg};
    color: $color-red-1;
    line-height: 1;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 47px;
    padding: 5px 15px;
    border-bottom: 1px solid $color-gray-4;

    .modal-header-heading {
      @extend #{$text-style-secondary-body-xl-medium};
    }
  }

  .modal-body {
    padding: 30px 15px;

    .modal-body-message {
      @extend #{$text-style-primary-body-md};
      width: 100%;
      text-align: center;
    }
  }

  .modal-footer {
    padding: 10px 15px;
    border-top: 1px solid $color-gray-4;

    .modal-footer-buttons {
      display: flex;
      justify-content: flex-end;

      .button {
        margin-left: 10px;
      }
    }
  }


  // States
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-active {
    visibility: visible;
    opacity: 1;

    &.is-notification {
      .modal-container {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &.is-unity {
    .modal-header {
      justify-content: center;
      padding-top: 30px;
      padding-bottom: 0;
      border-bottom-width: 0;
    }

    .modal-body {
      padding-top: 15px;
    }

    .modal-footer {
      padding: 0;

      .modal-footer-buttons {
        justify-content: flex-start;

        .button {
          flex: 1;
          min-height: 45px;
          margin-left: 0;
          background-color: transparent;
          border-radius: 0;

          &:first-child {
            border-right: 1px solid $color-gray-4;

            .button-text {
              color: $color-black;
            }
          }

          &:last-child {
            .button-text {
              color: $color-blue-1;
            }
          }
        }
      }
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-secondary {
    z-index: $z-index-2;
  }

  &.is-tertiary {
    z-index: $z-index-3;
  }

  &.is-notification {
    z-index: $z-index-4;
    padding-top: 75px;
    background-color: $color-overlay-1;
  }

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// Default
// ------------------------------------------------
.modal {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include modal-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
