// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// pagination
// * Structure & Detail
// * Mixins
// * Contextual variations
//   - Default
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Structure & Detail
// ============================================================
/*

*/

// Mixins
// ============================================================
@mixin pagination-variant(
) {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 30px;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .pagination-list {
    display: flex;
    align-items: center;
  }

  .pagination-list-item {
    display: block;

    &:first-child,
    &:last-child {
      .pagination-list-button {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &:first-child {
      .pagination-list-button {
        border-left-width: 0;
        border-top-left-radius: $border-radius-sm;
        border-bottom-left-radius: $border-radius-sm;
      }
    }

    &:last-child {
      .pagination-list-button {
        border-top-right-radius: $border-radius-sm;
        border-bottom-right-radius: $border-radius-sm;
      }
    }
  }

  .pagination-list-button {
    @include transition($transition-default);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    height: 32px;
    background-color: $color-white;
    border-left: 1px solid $color-gray-1;
    border-bottom: 1px solid $color-gray-6;

    &:hover,
    &.is-active {
      background-color: $color-red-1;

      .pagination-list-button-text {
        color: $color-white;
      }
    }
  }

  .pagination-list-button-text {
    @extend #{$text-style-primary-body-sm};
    color: $color-gray-3;
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-more-operations {
    justify-content: space-between;
  }

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// Default
// ------------------------------------------------
.pagination {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include pagination-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
