// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Table
// * Structure & Detail
// * Mixins
// * Contextual variations
//   - Default
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Structure & Detail
// ============================================================
/*
<div class="table">
  <div class="table-head">
    <div class="table-row">
      <div class="table-head-column">
        <span class="table-text is-heading">HEAD_COLUMN</span>
      </div>
      <div class="table-head-column">
        <span class="table-text is-heading">HEAD_COLUMN</span>
      </div>
      <div class="table-head-column">
        <span class="table-text is-heading">HEAD_COLUMN</span>
      </div>
    </div>
  </div>
  <div class="table-body">
    <div class="table-row">
      <div class="table-column">
        <span class="table-text">COLUMN</span>
      </div>
      <div class="table-column">
        <span class="table-text">COLUMN</span>
      </div>
      <div class="table-column">
        <ul class="table-list">
          <li class="table-list-item">
            <a class="table-list-link" href="#">
              <img src="assets/images/icons/icon-edit.svg" alt="Icon">
            </a>
          </li>
          <li class="table-list-item">
            <a class="table-list-link" href="#">
              <img src="assets/images/icons/icon-delete.svg" alt="Icon">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="table-row">
      <div class="table-column">
        <span class="table-text">COLUMN</span>
      </div>
      <div class="table-column">
        <span class="table-text">COLUMN</span>
      </div>
      <div class="table-column">
        <ul class="table-list">
          <li class="table-list-item">
            <a class="table-list-link" href="#">
              <img src="assets/images/icons/icon-edit.svg" alt="Icon">
            </a>
          </li>
          <li class="table-list-item">
            <a class="table-list-link" href="#">
              <img src="assets/images/icons/icon-delete.svg" alt="Icon">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
*/

// Mixins
// ============================================================
@mixin table-variant(
) {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  overflow: auto;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .table-row {
    display: flex;
  }

  .table-head-column,
  .table-column {
    flex: 1;
    text-align: center;
  }

  .table-head {
  }

  .table-head-column {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid $color-red-1;
  }

  .table-body {
    .table-row {
      &:nth-child(even) {
        .table-column {
          background-color: $color-gray-4;
        }
      }
    }
  }

  .table-column {
    padding: 8px 5px;
  }

  .table-text {
    @extend #{$text-style-primary-body-sm};
    color: $color-gray-3;

    &.is-heading {
      @extend #{$text-style-primary-body-sm-medium};
      color: $color-red-1;
    }

    &.is-link {
      color: $color-blue-1;
      text-decoration: underline;
    }

    &.is-success {
      color: $color-green-1;
    }

    &.is-error {
      color: $color-red-1;
    }
  }

  .table-list {
    display: flex;
    justify-content: center;
    align-items: center;

    .button,
    .button-outline {
      // height: 18px;

      .button-text {
        // font-size: 10px;
      }
    }

    &.is-gutter-md {
      .table-list-item {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &.is-align-top {
      align-self: flex-start;
    }
  }

  .table-list-item {
    display: block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .table-list-link {
    // display: block;
    display: flex;
    align-items: center;
  }

  .table-list-color-palette {
    width: 18px;
    height: 18px;
    border: 1px solid $color-black;
  }

  .table-status-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    vertical-align: middle;

    &.is-red {
      background-color: $color-red-2;
    }

    &.is-green {
      background-color: $color-green-2;
    }

    &.is-yellow {
      background-color: $color-yellow-1;
    }
  }

  .table-icon {
    &.is-status {
      width: auto;
      height: 10px;
    }
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// Default
// ------------------------------------------------
.table {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include table-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  // 1
  &.is-company-group-dashboard {
    .table-head-column,
    .table-column {
      flex: none;

      &.is-code {
        width: 100%;
        max-width: $table-column-code-width;
      }

      &.is-model {
        width: 100%;
        max-width: $table-column-model-width;
      }

      &.is-van-number {
        width: 100%;
        max-width: $table-column-van-number-width;
      }

      &.is-status {
        width: 100%;
        max-width: $table-column-status-width;
      }

      &.is-start-time {
        width: 100%;
        max-width: $table-column-starttime-width;
      }

      &.is-use-minute {
        width: 100%;
        max-width: $table-column-minute-width;
      }

      &.is-use-km {
        width: 100%;
        max-width: $table-column-km-width;
      }

      &.is-amount {
        width: 100%;
        max-width: $table-column-amount-width;
      }

      &.is-station {
        width: 100%;
        max-width: $table-column-station-width;
      }

      &.is-member {
        width: 100%;
        max-width: $table-column-name-width;
      }

      &.is-phone {
        width: 100%;
        max-width: $table-column-phone-width;
      }
    }
  }

  // 1.1
  &.is-inner-modal {
    .table-head-column {
      border-bottom-width: 1px;
    }

    .table-head-column,
    .table-column {
      &.is-name {
        flex: 1;
        text-align: left;
      }

      &.is-detail {
        flex: 2;
        text-align: left;
      }

      &.is-two-operations {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
        width: 100%;
        max-width: $table-column-two-operations-width;
      }
    }
  }

  // 1.2
  &.is-company-info {
    .table-head-column,
    .table-column {
      flex: none;

      &.is-code {
        width: 100%;
        max-width: $table-column-code-width;
      }

      &.is-company-group {
        width: 100%;
        max-width: $table-column-compony-group-width;
      }

      &.is-company-name {
        width: 100%;
        max-width: $table-column-compony-name-width;
      }

      &.is-username {
        width: 100%;
        max-width: $table-column-username-width;
      }

      &.is-name {
        width: 100%;
        max-width: $table-column-name-width;
      }

      &.is-surname {
        width: 100%;
        max-width: $table-column-surname-width;
      }

      &.is-phone {
        width: 100%;
        max-width: $table-column-phone-width;
      }

      &.is-email {
        word-break: break-word;
        width: 100%;
        max-width: $table-column-email-width;
      }

      &.is-two-operations {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: $table-column-two-operations-width;
      }
    }
  }

  // 2.1
  &.is-member {
    .table-head-column,
    .table-column {
      flex: none;

      &.is-status-circle {
        width: 100%;
        max-width: $table-column-status-circle-width;
      }

      &.is-code {
        width: 100%;
        max-width: $table-column-code-width;
      }

      &.is-name {
        width: 100%;
        max-width: $table-column-name-width;
      }

      &.is-surname {
        width: 100%;
        max-width: $table-column-surname-width;
      }

      &.is-birthday {
        width: 100%;
        max-width: $table-column-birthday-width;
      }

      &.is-address {
        width: 100%;
        max-width: $table-column-address-width;
      }

      &.is-province {
        width: 100%;
        max-width: $table-column-province-width;
      }

      &.is-zipcode {
        width: 100%;
        max-width: $table-column-zipcode-width;
      }

      &.is-email {
        word-break: break-word;
        width: 100%;
        max-width: $table-column-email-width;
      }

      &.is-phone {
        width: 100%;
        max-width: $table-column-phone-width;
      }

      &.is-driver-license {
        width: 100%;
        max-width: $table-column-driver-license-width;
      }

      &.is-payment {
        width: 100%;
        max-width: $table-column-payment-width;
      }

      &.is-tax-invoice {
        width: 100%;
        max-width: $table-column-tax-invoice-width;
      }

      &.is-two-operations {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        max-width: $table-column-two-operations-width;
        // padding-top: 10px;
      }
    }
  }

  // 2.2
  &.is-verify-member {
    .table-row {
      // align-items: center;
    }

    .table-head-column,
    .table-column {
      flex: none;

      &.is-code {
        width: 100%;
        max-width: $table-column-code-width;
      }

      &.is-name {
        width: 100%;
        max-width: $table-column-name-width;
      }

      &.is-surname {
        width: 100%;
        max-width: $table-column-surname-width;
      }

      &.is-personal-info {
        width: 100%;
        max-width: $table-column-personal-info-width;
      }

      &.is-driver-license {
        width: 100%;
        max-width: $table-column-driver-license-width;
      }

      &.is-payment {
        width: 100%;
        max-width: $table-column-payment-width;
      }

      &.is-verify-operations {
        width: 100%;
        max-width: $table-column-verify-operations-width;
      }
    }
  }

  // 3.1
  &.is-car-info {
    .table-head-column,
    .table-column {
      flex: none;

      &.is-status-circle {
        width: 100%;
        max-width: $table-column-status-circle-width;
      }

      &.is-code {
        width: 100%;
        max-width: $table-column-code-width;
      }

      &.is-license {
        width: 100%;
        max-width: $table-column-license-width;
      }

      &.is-series {
        width: 100%;
        max-width: $table-column-series-width;
      }

      &.is-model {
        width: 100%;
        max-width: $table-column-model-width;
      }

      &.is-color {
        width: 100%;
        max-width: $table-column-color-width;
      }

      &.is-type {
        width: 100%;
        max-width: $table-column-type-width;
      }

      &.is-km {
        width: 100%;
        max-width: $table-column-km-width;
      }

      &.is-station {
        width: 100%;
        max-width: $table-column-station-width;
      }

      &.is-startdate {
        width: 100%;
        max-width: $table-column-startdate-width;
      }

      &.is-enddate {
        width: 100%;
        max-width: $table-column-enddate-width;
      }

      &.is-two-operations {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: $table-column-two-operations-width;
      }
    }
  }

  // 4.1
  &.is-station {
    .table-head-column,
    .table-column {
      flex: none;

      &.is-status {
        width: 100%;
        max-width: $table-column-status-width;
      }

      &.is-company-group {
        width: 100%;
        max-width: $table-column-compony-group-width;
      }

      &.is-station-name {
        width: 100%;
        max-width: $table-column-station-width;
      }

      &.is-map-info {
        width: 100%;
        max-width: $table-column-mapinfo-width;
      }

      &.is-memo {
        flex: 2;
        // width: 100%;
        // max-width: $table-column-memo-width;
        text-align: left;
      }

      &.is-two-operations {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: $table-column-two-operations-width;
      }
    }
  }

  // 5.1
  &.is-group-price {
    .table-head-column,
    .table-column {
      flex: none;

      &.is-code {
        width: 100%;
        max-width: $table-column-code-width;
      }

      &.is-company-group {
        width: 100%;
        max-width: $table-column-compony-group-width;
      }

      &.is-package-name {
        width: 100%;
        max-width: $table-column-package-name-width;
      }

      &.is-price {
        width: 100%;
        max-width: $table-column-price-width;
      }

      &.is-sipp-code {
        width: 100%;
        max-width: $table-column-sippcode-width;
      }

      &.is-min,
      &.is-over-min {
        width: 100%;
        max-width: $table-column-min-width;
      }

      &.is-km,
      &.is-over-km {
        width: 100%;
        max-width: $table-column-km-width;
      }

      &.is-two-operations {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: $table-column-two-operations-width;
      }
    }
  }

  // 6
  &.is-permission {
    .table-head-column,
    .table-column {
      flex: none;

      &.is-code {
        width: 100%;
        max-width: $table-column-code-width;
      }

      &.is-name {
        width: 100%;
        max-width: $table-column-name-width;
      }

      &.is-surname {
        width: 100%;
        max-width: $table-column-surname-width;
      }

      &.is-username {
        width: 100%;
        max-width: $table-column-username-width;
      }

      &.is-two-operations {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: $table-column-two-operations-width;
      }
    }
  }

  // 6.1
  &.is-edit-permission {
    .table-head-column,
    .table-column {
      flex: none;

      &.is-checkbox {
        width: 100%;
        max-width: $table-column-checkbox-width;
      }

      &.is-id {
        width: 100%;
        max-width: $table-column-id-width;
      }

      &.is-detail {
        flex: 1;
        text-align: left;
      }
    }
  }

  // 7.1
  &.is-news {
    .table-head-column,
    .table-column {
      flex: none;

      &.is-topic {
        flex: 1;
        text-align: left;
      }

      &.is-detail {
        flex: 2;
        text-align: left;
      }

      &.is-two-operations {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: $table-column-two-operations-width;
      }
    }
  }

  // 7.2
  &.is-promotions {
    .table-head-column,
    .table-column {
      flex: none;

      &.is-status-circle {
        width: 100%;
        max-width: $table-column-status-circle-width;
      }

      &.is-promocode {
        flex: 2;
        text-align: left;
        // width: 100%;
        // max-width: $table-column-promocode-width;
      }

      &.is-startdate {
        // flex: 1;
        // text-align: left;
        width: 100%;
        max-width: $table-column-startdate-width;
      }

      &.is-enddate {
        // flex: 1;
        // text-align: left;
        width: 100%;
        max-width: $table-column-enddate-width;
      }

      &.is-total {
        // flex: 1;
        width: 100%;
        max-width: $table-column-total-width;
      }

      &.is-discount {
        // flex: 1;
        width: 100%;
        max-width: $table-column-discount-width;
      }

      &.is-two-operations {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: $table-column-two-operations-width;
      }
    }
  }

  // 8
  &.is-mornitor {
    .table-head-column,
    .table-column {
      flex: none;

      &.is-status-circle {
        width: 100%;
        max-width: $table-column-status-circle-width;
      }

      &.is-number {
        width: 100%;
        max-width: $table-column-number-width;
      }

      &.is-series {
        width: 100%;
        max-width: $table-column-series-width;
      }

      &.is-license {
        width: 100%;
        max-width: $table-column-license-width;
      }

      &.is-starttime {
        width: 100%;
        max-width: $table-column-starttime-width;
      }

      &.is-minute {
        width: 100%;
        max-width: $table-column-minute-width;
      }

      &.is-km {
        width: 100%;
        max-width: $table-column-km-width;
      }

      &.is-amount {
        width: 100%;
        max-width: $table-column-amount-width;
      }

      &.is-station {
        width: 100%;
        max-width: $table-column-station-width;
      }

      &.is-name {
        width: 100%;
        max-width: $table-column-name-width;
      }

      &.is-phone {
        width: 100%;
        max-width: $table-column-phone-width;
      }
    }
  }

  // 8
  &.is-mornitor-control {
    .table-head-column,
    .table-column {
      flex: none;
      padding-top: 14px;

      &.is-status-circle {
        width: 100%;
        max-width: $table-column-status-circle-width;
      }

      &.is-number {
        width: 100%;
        max-width: $table-column-number-width;
      }

      &.is-series {
        width: 100%;
        max-width: $table-column-series-width;
      }

      &.is-license {
        width: 100%;
        max-width: $table-column-license-width;
      }

      &.is-station {
        word-break: break-word;
        width: 100%;
        max-width: $table-column-station-width;
      }

      &.is-fuel {
        width: 100%;
        max-width: $table-column-fuel-width;
      }

      &.is-odb {
        width: 100%;
        max-width: $table-column-odb-width;
      }

      &.is-acc {
        width: 100%;
        max-width: $table-column-acc-width;
      }

      &.is-door {
        width: 100%;
        max-width: $table-column-door-width;
      }

      &.is-cut-engine {
        width: 100%;
        max-width: $table-column-cut-engine-width;
      }

      &.is-battery {
        width: 100%;
        max-width: $table-column-battery-width;
      }

      &.is-name {
        word-break: break-word;
        width: 100%;
        max-width: $table-column-name-width;
      }

      &.is-mornitor-operations {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
        width: 100%;
        padding-top: 8px;
        max-width: $table-column-mornitor-operations-width;
      }
    }
  }

  // 8 Route
  &.is-mornitor-route {
    .table-head-column,
    .table-column {
      flex: none;

      &.is-status-trip {
        width: 100%;
        max-width: $table-column-status-trip-width;
      }

      &.is-datetime {
        width: 100%;
        max-width: $table-column-datetime-width;
      }

      &.is-location {
        word-break: break-word;
        width: 100%;
        max-width: $table-column-location-width;
      }

      &.is-email {
        word-break: break-word;
        flex: 1;
        padding-right: 15px;
        text-align: right;
      }
    }
  }

  // Payment company
  &.is-payment-company {
    .table-head-column,
    .table-column {
      flex: none;

      &.is-status-icon {
        width: 100%;
        max-width: $table-column-status-icon-width;
      }

      &.is-company {
        flex: 1;
        text-align: left;
      }

      &.is-status {
        width: 100%;
        max-width: $table-column-status-width;
      }

      &.is-operation {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: $table-column-operation-width;
      }
    }
  }

  // Department 1.1
  &.is-department {
    .table-head-column,
    .table-column {
      flex: none;

      &.is-register-code {
        width: 100%;
        max-width: $table-column-register-code-width;
      }

      &.is-department-name {
        flex: 1;
        text-align: left;
      }

      &.is-two-operations {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: $table-column-two-operations-width;
      }
    }
  }

  // Department 1.2
  &.is-manager {
    .table-head-column,
    .table-column {
      flex: none;

      &.is-username {
        width: 100%;
        max-width: $table-column-username-width;
      }

      &.is-password {
        width: 100%;
        max-width: $table-column-password-width;
      }

      &.is-name {
        width: 100%;
        max-width: $table-column-name-width;
      }

      &.is-surname {
        width: 100%;
        max-width: $table-column-surname-width;
      }

      &.is-phone {
        width: 100%;
        max-width: $table-column-phone-width;
      }

      &.is-email {
        word-break: break-word;
        width: 100%;
        max-width: $table-column-email-width;
      }

      &.is-two-operations {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: $table-column-two-operations-width;
      }
    }
  }

  // Department 2
  &.is-verify {
    .table-row {
      // align-items: center;
    }

    .table-head-column,
    .table-column {
      flex: none;

      &.is-datetime {
        width: 100%;
        max-width: $table-column-datetime-width;
      }

      &.is-department {
        width: 100%;
        max-width: $table-column-department-width;
      }

      &.is-section {
        width: 100%;
        max-width: $table-column-section-width;
      }

      &.is-staff-id {
        width: 100%;
        max-width: $table-column-staff-id-width;
      }

      &.is-name {
        width: 100%;
        max-width: $table-column-name-width;
      }

      &.is-surname {
        width: 100%;
        max-width: $table-column-surname-width;
      }

      &.is-email {
        word-break: break-word;
        width: 100%;
        max-width: $table-column-email-width;
      }

      &.is-phone {
        width: 100%;
        max-width: $table-column-phone-width;
      }

      &.is-verify-member-operations {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: $table-column-verify-member-width;
      }
    }
  }

  // Department 3
  &.is-approve {
    .table-row {
      // align-items: center;
    }

    .table-head-column,
    .table-column {
      flex: none;

      &.is-datetime {
        width: 100%;
        max-width: $table-column-datetime-width;
      }

      &.is-department {
        width: 100%;
        max-width: $table-column-department-width;
      }

      &.is-car-id {
        width: 100%;
        max-width: $table-column-car-id-width;
      }

      &.is-car-name {
        width: 100%;
        max-width: $table-column-car-name-width;
      }

      &.is-section {
        width: 100%;
        max-width: $table-column-section-width;
      }

      &.is-staff-id {
        width: 100%;
        max-width: $table-column-staff-id-width;
      }

      &.is-name {
        width: 100%;
        max-width: $table-column-name-width;
      }

      &.is-surname {
        width: 100%;
        max-width: $table-column-surname-width;
      }

      &.is-note {
        width: 100%;
        max-width: $table-column-note-width;
      }

      &.is-email {
        word-break: break-word;
        width: 100%;
        max-width: $table-column-email-width;
      }

      &.is-phone {
        width: 100%;
        max-width: $table-column-phone-width;
      }

      &.is-approve-operations {
        display: flex;
        align-items: flex-start; // center
        justify-content: center;
        width: 100%;
        max-width: $table-column-approve-operations-width;
      }
    }
  }

  // Department 4
  &.is-member {
    .table-row {
      // align-items: center;
    }

    .table-head-column,
    .table-column {
      flex: none;

      &.is-register-code {
        width: 100%;
        max-width: $table-column-register-code-width;
      }

      &.is-department {
        width: 100%;
        max-width: $table-column-department-width;
      }

      &.is-name {
        width: 100%;
        max-width: $table-column-name-width;
      }

      &.is-surname {
        width: 100%;
        max-width: $table-column-surname-width;
      }

      &.is-email {
        word-break: break-word;
        width: 100%;
        max-width: $table-column-email-width;
      }

      &.is-phone {
        width: 100%;
        max-width: $table-column-phone-width;
      }

      &.is-active-operations {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: $table-column-active-operations-width;
      }
    }
  }

  // Report
  &.is-report {
    .table-head-column,
    .table-column {
      flex: none;

      &.is-trip-ref {
        width: 100%;
        max-width: $table-column-trip-ref-width;
      }

      &.is-section {
        width: 100%;
        max-width: $table-column-section-width;
      }

      &.is-car-id {
        width: 100%;
        max-width: $table-column-car-id-width;
      }

      &.is-station {
        width: 100%;
        max-width: $table-column-station-width;
      }

      &.is-km {
        width: 100%;
        max-width: $table-column-km-width;
      }

      &.is-minute {
        width: 100%;
        max-width: $table-column-minute-width;
      }

      &.is-amount {
        width: 100%;
        max-width: $table-column-amount-width;
      }

      &.is-department {
        width: 100%;
        max-width: $table-column-department-width;
      }

      &.is-name {
        width: 100%;
        max-width: $table-column-name-width;
      }

      &.is-surname {
        width: 100%;
        max-width: $table-column-surname-width;
      }

      &.is-series {
        width: 100%;
        max-width: $table-column-series-width;
      }

      &.is-model {
        width: 100%;
        max-width: $table-column-model-width;
      }

      &.is-datetime {
        width: 100%;
        max-width: $table-column-datetime-width;
      }
    }
  }

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
  @media (min-width: $breakpoint-tablet-lg-max) {
    // 1
    &.is-company-group-dashboard {
      .table-head-column,
      .table-column {
        // &.is-code,
        // &.is-model,
        // &.is-van-number,
        // &.is-status,
        // &.is-start-time,
        // &.is-use-minute,
        // &.is-use-km,
        // &.is-amount,
        &.is-station,
        &.is-member
        // &.is-phone
        {
          flex: 1;
          width: auto;
          max-width: none;
        }
      }
    }

    // 1.1
    &.is-inner-modal {
      .table-head-column,
      .table-column {
        &.is-name,
        &.is-detail,
        &.is-two-operations {
          // style
        }
      }
    }

    // 1.2
    &.is-company-info {
      .table-head-column,
      .table-column {
        // &.is-code,
        &.is-company-group,
        &.is-company-name,
        // &.is-username,
        // &.is-name,
        // &.is-surname,
        // &.is-phone,
        &.is-email,
        // &.is-two-operations
        {
          flex: 1;
          width: auto;
          max-width: none;
        }
      }
    }

    // 2.2
    &.is-verify-member {
      .table-head-column,
      .table-column {
        // &.is-code,
        &.is-name,
        &.is-surname,
        &.is-personal-info,
        &.is-driver-license,
        &.is-payment,
        // &.is-verify-operations
        {
          flex: 1;
          width: auto;
          max-width: none;
        }
      }
    }

    // 3.1
    &.is-car-info {
      .table-head-column,
      .table-column {
        // &.is-status,
        // &.is-code,
        // &.is-license,
        // &.is-series,
        &.is-model,
        // &.is-color,
        // &.is-type,
        // &.is-km,
        &.is-station,
        // &.is-startdate,
        // &.is-enddate,
        // &.is-two-operations
        {
          flex: 1;
          width: auto;
          max-width: none;
        }
      }
    }

    // 4.1
    &.is-station {
      .table-head-column,
      .table-column {
        // &.is-status,
        &.is-company-group,
        &.is-station-name,
        // &.is-map-info,
        // &.is-memo,
        // &.is-two-operations
        {
          flex: 1;
          width: auto;
          max-width: none;
        }
      }
    }

    // 5.1
    &.is-group-price {
      .table-head-column,
      .table-column {
        // &.is-code,
        &.is-company-group,
        &.is-package-name,
        &.is-price,
        &.is-sipp-code,
        // &.is-min,
        // &.is-over-min,
        // &.is-km,
        // &.is-over-km,
        // &.is-two-operations
        {
          flex: 1;
          width: auto;
          max-width: none;
        }
      }
    }

    // 6
    &.is-permission {
      .table-head-column,
      .table-column {
        // &.is-code,
        // &.is-name,
        // &.is-surname,
        &.is-username,
        // &.is-two-operations
        {
          flex: 1;
          width: auto;
          max-width: none;
        }
      }
    }

    // 7.2
    &.is-promotions {
      .table-head-column,
      .table-column {
        // &.is-status,
        // &.is-promocode,
        // &.is-startdate,
        // &.is-enddate,
        // &.is-total,
        // &.is-discount,
        // &.is-two-operations
        // {
        //   flex: 1;
        //   width: auto;
        //   max-width: none;
        // }
      }
    }

    // 8
    &.is-mornitor {
      .table-head-column,
      .table-column {
        // &.is-status,
        // &.is-number,
        &.is-series,
        &.is-license,
        &.is-starttime,
        // &.is-minute,
        // &.is-km,
        // &.is-amount,
        &.is-station,
        &.is-name,
        // &.is-phone
        {
          flex: 1;
          width: auto;
          max-width: none;
        }
      }
    }

    // Department 1.2
    &.is-manager {
      .table-head-column,
      .table-column {
        // &.is-username,
        // &.is-password,
        &.is-name,
        &.is-surname,
        &.is-phone,
        &.is-email,
        // &.is-two-operations
        {
          flex: 1;
          width: auto;
          max-width: none;
        }
      }
    }

    // Department 2
    &.is-verify {
      .table-head-column,
      .table-column {
        // &.is-datetime,
        &.is-department,
        // &.is-section,
        // &.is-staff-id,
        // &.is-name,
        // &.is-surname,
        &.is-email,
        &.is-phone,
        // &.is-verify-operations
        {
          flex: 1;
          width: auto;
          max-width: none;
        }
      }
    }

    // Department 4
    // &.is-member {
    //   .table-head-column,
    //   .table-column {
    //     // &.is-register-code,
    //     // &.is-department,
    //     &.is-name,
    //     &.is-surname,
    //     &.is-email,
    //     &.is-phone,
    //     // &.is-active-operations
    //     {
    //       flex: 1;
    //       width: auto;
    //       max-width: none;
    //     }
    //   }
    // }
  }

  @media (min-width: $breakpoint-desktop-lg) {
    // Department 3
    &.is-approve {
      .table-head-column,
      .table-column {
        // &.is-datetime,
        &.is-department,
        // &.is-car-id,
        // &.is-car-name,
        &.is-section,
        // &.is-staff-id,
        // &.is-name,
        // &.is-surname,
        &.is-note,
        &.is-email,
        &.is-phone,
        // &.is-approve-operations
          {
          flex: 1;
          width: auto;
          max-width: none;
        }
      }
    }

    // Report
    &.is-report {
      .table-head-column,
      .table-column {
        // &.is-trip-ref,
        // &.is-section,
        // &.is-car-id,
        // &.is-station,
        // &.is-km,
        // &.is-minute,
        // &.is-amount,
        // &.is-department,
        // &.is-name,
        // &.is-surname,
        &.is-series,
        &.is-model,
        &.is-datetime {
          // flex: 1;
          // width: auto;
          // max-width: none;
        }
      }
    }

    // 2.1
    &.is-member {
      .table-head-column,
      .table-column {
        // &.is-status-circle,
        // &.is-code,
        // &.is-name,
        // &.is-surname,
        // &.is-birthday,
        &.is-address,
        // &.is-province,
        // &.is-zipcode,
        &.is-email,
        // &.is-phone,
        // &.is-driver-license,
        // &.is-payment,
        // &.is-tax-invoice,
        // &.is-two-operations
        {
          flex: 1;
          width: auto;
          max-width: none;
        }
      }
    }

    // 8
    &.is-mornitor-control {
      .table-head-column,
      .table-column {
        // &.is-status-circle,
        // &.is-number,
        &.is-series,
        &.is-license,
        &.is-station,
        &.is-fuel,
        &.is-odb,
        // &.is-acc,
        // &.is-door,
        // &.is-cut-engine,
        &.is-battery,
        &.is-name,
        // &.is-mornitor-operations
        {
          flex: 1;
          width: auto;
          max-width: none;
        }
      }
    }
  }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
