// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Topbar
// * Structure & Detail
// * Mixins
// * Contextual variations
//   - Default
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Structure & Detail
// ============================================================
/*
<div class="topbar">
  <div class="topbar-left">
    <a class="topbar-menu-button" href="#">
      <img class="topbar-icon" src="assets/images/icons/icon-hamburger-menu.svg" alt="Menu icon">
    </a>
  </div>
  <div class="topbar-right">
    <a class="topbar-menu-button" href="#">
      <div class="topbar-icon">
        <div class="topbar-icon-container">
          <img class="topbar-icon-image" src="assets/images/icons/icon-person.svg" alt="Person icon">
          <img class="topbar-icon-image is-status" src="assets/images/icons/icon-check-circle-green.svg" alt="Check icon">
        </div>
        <span class="topbar-icon-label">Nattarat Srila</span>
      </div>
    </a>
  </div>
</div>
*/

// Mixins
// ============================================================
@mixin topbar-variant(
  $height: $topbar-height,
  $background-color: $color-red-1
) {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  position: fixed;
  z-index: $z-index-2;
  top: 15px;
  left: 15px;
  right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $height;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $background-color;
  border-radius: 5px;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .topbar-left {

  }

  .topbar-right {

  }

  .topbar-menu-button-container {
    position: relative;
  }

  .topbar-menu-button {
    display: flex;
    align-items: center;
  }

  .topbar-icon {
    display: flex;
    align-items: center;
  }

  .topbar-icon-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .topbar-icon-image {
    display: block;

    &.is-status {
      position: absolute;
      z-index: $z-index-1;
      top: 10px;
      right: -5px;
      width: 12px;
      height: auto;
    }
  }

  .topbar-icon-label {
    @extend #{$text-style-primary-body-sm};
    display: block;
    margin-left: 15px;
    color: $color-white;
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// Default
// ------------------------------------------------
.topbar {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include topbar-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
