// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// form
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.form {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  margin-bottom: 30px;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .form-list {
    display: flex;
    align-items: center;

    &.is-horizontal {
      .form-list-item {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }

      &.is-vertical-inner {
        .form-list-item {
          margin-bottom: 0;
        }
      }
    }

    &.is-vertical {
      flex-direction: column;
      align-items: flex-start;

      .form-list-item {
        width: 100%;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        &.is-spacing-bottom-none {
          margin-bottom: 0;
        }
      }
    }

    &.is-partition-line {
      padding-bottom: 25px;
      margin-bottom: 25px;
      border-bottom: 1px solid $color-gray-7;
    }

    &.is-fluid-flex {
      flex: 1;
    }

    &.is-mornitor-utility {
      width: 280px;
      border: 1px solid $color-gray-4;
      padding: 20px 30px 30px;
    }
  }

  .form-list-item {
    display: block;
  }

  .form-content {
    padding-top: 10px;

    &.is-group-button {
      display: inline-block;
      vertical-align: middle;
    }

    &.is-fluid {
      width: 100%;
    }
  }

  .form-grid {
    display: flex;
    // align-items: center;

    // Width
    &.is-quarter {
      .form-grid-column {
        width: 25%;
      }

      // for stack column at tablet-sm
      &.is-quarter-stack {}
    }

    &.is-half {
      .form-grid-column {
        width: 50%;
      }
    }

    &.is-three-quarter {
      .form-grid-column {
        width: 75%;
      }
    }

    &.is-one-of-three {
      .form-grid-column {
        width: 33.33%;
      }
    }

    // 25%, 25%, 50%
    &.is-quarters-half {
      .form-grid-column {
        &:nth-child(1),
        &:nth-child(2) {
          width: 25%;
        }

        &:nth-child(3) {
          width: 50%;
        }
      }
    }

    // 50%, 25%, 25%
    &.is-half-quarters {
      .form-grid-column {
        &:nth-child(1) {
          width: 50%;
        }

        &:nth-child(2),
        &:nth-child(3) {
          width: 25%;
        }
      }
    }

    // Gutter
    &.is-gutter-sm {
      margin-left: -15px;

      .form-grid-column {
        padding-left: 15px;
      }
    }

    &.is-gutter-md {
      margin-left: -30px;

      .form-grid-column {
        padding-left: 30px;
      }
    }

    &.is-gutter-lg {
      margin-left: -45px;

      .form-grid-column {
        padding-left: 45px;
      }
    }

    &.is-gutter-xl {
      margin-left: -60px;

      .form-grid-column {
        padding-left: 60px;
      }
    }
  }

  .form-grid-column {}

  .form-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
  }

  .form-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;

    &.is-search,
    &.is-inner-modal,
    &.is-actions {
      padding-top: 15px;
    }

    &.is-actions {
      justify-content: space-between;
    }
  }

  .form-map {
    height: 300px;
    background-color: $color-gray-4;
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-border {
    padding: 30px;
    border: 1px solid $color-red-1;
    border-radius: $border-radius-sm;
  }

  &.is-content-center {
    display: flex;
    justify-content: center;
  }

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
  @media (max-width: $breakpoint-tablet-xs) {
    .form-grid {
      &.is-one-of-three {
        .form-grid-column {
          &.is-duration-date {
            // width: 65%;
          }
        }
      }
    }
  }

  .form-grid {
    &.is-one-of-three {
      @media (max-width: $breakpoint-tablet-lg) {
        flex-wrap: wrap;
        margin-bottom: -15px;
      }

      .form-grid-column {
        @media (max-width: $breakpoint-tablet-lg) {
          width: 50%;
          margin-bottom: 15px;
        }

        &.is-duration-date {
          @media (max-width: $breakpoint-tablet-sm-max) {
            width: 65%;
          }

          @media (min-width: $breakpoint-tablet-md) and (max-width: $breakpoint-tablet-lg) {
            width: 50%;
          }
        }

        &.is-button {
          @media (max-width: $breakpoint-tablet-lg) {
            width: auto;
          }
        }
      }
    }

    &.is-quarter-stack,
    &.is-quarters-half,
    &.is-half-quarters {
      flex-wrap: wrap;
      margin-bottom: -15px;

      .form-grid-column {
        @media (max-width: $breakpoint-tablet-md-max) {
          width: 50%;

          &:nth-child(1),
          &:nth-child(2) {
            width: 50%;
          }

          &:nth-child(3) {
            width: 100%;
          }
        }
      }
    }
  }

  @media (min-width: $breakpoint-tablet-lg) {
    .form-list {
      &.is-vertical {
        .form-list-item {
          max-width: 75%;

          &.is-fluid {
            max-width: 100%;
          }
        }
      }
    }
  }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
