// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Login
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.login {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .login-form {
    width: 100%;
    max-width: 360px;
    padding: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: $color-white;
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-1;
  }

  .login-field-list {

  }

  .login-field-list-item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .login-form-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
  }

  .login-form-button {
    padding-top: 25px;
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
