// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Typography
// * Embed font
// * Mixins
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Embed font
// ============================================================

// Pridi
// ------------------------------------------------

// Regular
// @font-face {
//   font-family: $font-family-primary-regular;
//   src: url('#{$path-file-fonts-primary-regular}.eot');
//   src: url('#{$path-file-fonts-primary-regular}.eot') format('embedded-opentype'),
//        url('#{$path-file-fonts-primary-regular}.woff') format('woff'),
//        url('#{$path-file-fonts-primary-regular}.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// Medium
// @font-face {
//   font-family: $font-family-primary-medium;
//   src: url('#{$path-file-fonts-primary-medium}.eot');
//   src: url('#{$path-file-fonts-primary-medium}.eot') format('embedded-opentype'),
//        url('#{$path-file-fonts-primary-medium}.woff') format('woff'),
//        url('#{$path-file-fonts-primary-medium}.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// Prompt
// ------------------------------------------------

// Regular
// @font-face {
//   font-family: $font-family-secondary-regular;
//   src: url('#{$path-file-fonts-secondary-regular}.eot');
//   src: url('#{$path-file-fonts-secondary-regular}.eot') format('embedded-opentype'),
//        url('#{$path-file-fonts-secondary-regular}.woff') format('woff'),
//        url('#{$path-file-fonts-secondary-regular}.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// Medium
// @font-face {
//   font-family: $font-family-secondary-medium;
//   src: url('#{$path-file-fonts-secondary-medium}.eot');
//   src: url('#{$path-file-fonts-secondary-medium}.eot') format('embedded-opentype'),
//        url('#{$path-file-fonts-secondary-medium}.woff') format('woff'),
//        url('#{$path-file-fonts-secondary-medium}.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// Mixins
// ============================================================
@mixin text-variant(
  $text-display: inline-block,
  $text-font-family: initial,
  $text-font-size: initial,
  $text-font-weight: normal,
  $text-line-height: initial,
  $text-letter-spacing: normal
) {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  display: $text-display;
  font-family: $text-font-family;
  font-size: $text-font-size;
  font-weight: $text-font-weight;
  font-style: normal;
  line-height: $text-line-height;
  letter-spacing: $text-letter-spacing;
  vertical-align: middle;
  text-transform: none;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>
  &:hover,
  &:focus {
      text-decoration: none;
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  // Text transforms
  &.is-uppercase {
    text-transform: uppercase;
  }

  // 'Bold' not write in mixin because font-family maybe have more than one. See example case below
  //
  // &.is-medium {
  //   font-family: $font-family-primary-googlefont;
  // }
  //
  // &.is-medium {
  //   font-family: $font-family-secondary-googlefont;
  // }

  // 'Font size' not write in mixin because font-family maybe have more than one. See example case below
  //
  // &.is-size-xs {
  //   font-size: $font-size-primary-xs;
  // }
  //
  // &.is-size-xs {
  //   font-size: $font-size-secondary-xs;
  // }

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// Primary
// ------------------------------------------------
.text-primary {
  // Body
  &-body {
    // Extra small
    // Class name: .text-primary-body-xs
    &-xs {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-primary-googlefont,
        $text-font-size: $font-size-primary-body-xs,
        $text-font-weight: 400,
        $text-line-height: $line-height-primary-body,
        $text-letter-spacing: $letter-spacing-primary-body
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-primary-googlefont,
          $text-font-size: $font-size-primary-body-xs,
          $text-font-weight: 500,
          $text-line-height: $line-height-primary-body,
          $text-letter-spacing: $letter-spacing-primary-body
        );
      }
    }

    // Small
    // Class name: .text-primary-body-sm
    &-sm {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-primary-googlefont,
        $text-font-size: $font-size-primary-body-sm,
        $text-font-weight: 400,
        $text-line-height: $line-height-primary-body,
        $text-letter-spacing: $letter-spacing-primary-body
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-primary-googlefont,
          $text-font-size: $font-size-primary-body-sm,
          $text-font-weight: 500,
          $text-line-height: $line-height-primary-body,
          $text-letter-spacing: $letter-spacing-primary-body
        );
      }
    }

    // Medium
    // Class name: .text-primary-body-md
    &-md {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-primary-googlefont,
        $text-font-size: $font-size-primary-body-md,
        $text-font-weight: 400,
        $text-line-height: $line-height-primary-body,
        $text-letter-spacing: $letter-spacing-primary-body
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-primary-googlefont,
          $text-font-size: $font-size-primary-body-md,
          $text-font-weight: 500,
          $text-line-height: $line-height-primary-body,
          $text-letter-spacing: $letter-spacing-primary-body
        );
      }
    }

    // Large
    // Class name: .text-primary-body-lg
    &-lg {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-primary-googlefont,
        $text-font-size: $font-size-primary-body-lg,
        $text-font-weight: 400,
        $text-line-height: $line-height-primary-body,
        $text-letter-spacing: $letter-spacing-primary-body
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-primary-googlefont,
          $text-font-size: $font-size-primary-body-lg,
          $text-font-weight: 500,
          $text-line-height: $line-height-primary-body,
          $text-letter-spacing: $letter-spacing-primary-body
        );
      }
    }

    // Extra large
    // Class name: .text-primary-body-xl
    &-xl {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-primary-googlefont,
        $text-font-size: $font-size-primary-body-xl,
        $text-font-weight: 400,
        $text-line-height: $line-height-primary-body,
        $text-letter-spacing: $letter-spacing-primary-body
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-primary-googlefont,
          $text-font-size: $font-size-primary-body-xl,
          $text-font-weight: 500,
          $text-line-height: $line-height-primary-body,
          $text-letter-spacing: $letter-spacing-primary-body
        );
      }
    }
  }

  // Heading
  &-heading {
    // Extra small
    // Class name: .text-primary-heading-xs
    &-xs {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-primary-googlefont,
        $text-font-size: $font-size-primary-heading-xs,
        $text-font-weight: 400,
        $text-line-height: $line-height-primary-heading,
        $text-letter-spacing: $letter-spacing-primary-heading
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-primary-googlefont,
          $text-font-size: $font-size-primary-heading-xs,
          $text-font-weight: 500,
          $text-line-height: $line-height-primary-heading,
          $text-letter-spacing: $letter-spacing-primary-heading
        );
      }
    }

    // Small
    // Class name: .text-primary-heading-sm
    &-sm {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-primary-googlefont,
        $text-font-size: $font-size-primary-heading-sm,
        $text-font-weight: 400,
        $text-line-height: $line-height-primary-heading,
        $text-letter-spacing: $letter-spacing-primary-heading
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-primary-googlefont,
          $text-font-size: $font-size-primary-heading-sm,
          $text-font-weight: 500,
          $text-line-height: $line-height-primary-heading,
          $text-letter-spacing: $letter-spacing-primary-heading
        );
      }
    }

    // Medium
    // Class name: .text-primary-heading-md
    &-md {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-primary-googlefont,
        $text-font-size: $font-size-primary-heading-md,
        $text-font-weight: 400,
        $text-line-height: $line-height-primary-heading,
        $text-letter-spacing: $letter-spacing-primary-heading
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-primary-googlefont,
          $text-font-size: $font-size-primary-heading-md,
          $text-font-weight: 500,
          $text-line-height: $line-height-primary-heading,
          $text-letter-spacing: $letter-spacing-primary-heading
        );
      }
    }

    // Large
    // Class name: .text-primary-heading-lg
    &-lg {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-primary-googlefont,
        $text-font-size: $font-size-primary-heading-lg,
        $text-font-weight: 400,
        $text-line-height: $line-height-primary-heading,
        $text-letter-spacing: $letter-spacing-primary-heading
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-primary-googlefont,
          $text-font-size: $font-size-primary-heading-lg,
          $text-font-weight: 500,
          $text-line-height: $line-height-primary-heading,
          $text-letter-spacing: $letter-spacing-primary-heading
        );
      }
    }

    // Extra large
    // Class name: .text-primary-heading-xl
    &-xl {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-primary-googlefont,
        $text-font-size: $font-size-primary-heading-xl,
        $text-font-weight: 400,
        $text-line-height: $line-height-primary-heading,
        $text-letter-spacing: $letter-spacing-primary-heading
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-primary-googlefont,
          $text-font-size: $font-size-primary-heading-xl,
          $text-font-weight: 500,
          $text-line-height: $line-height-primary-heading,
          $text-letter-spacing: $letter-spacing-primary-heading
        );
      }
    }
  }

  // STYLES OF MODIFIER CLASS
  // >>>>>>>>>>>>>>>>>>>>>>>
  // Not create modifier class for font weight bold because can't direct @extend to class
  // &.is-medium {
  //   font-family: $font-family-primary-googlefont;
  // }

  // MEDIA QUERY
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Secondary
// ------------------------------------------------
.text-secondary {
  // Body
  &-body {
    // Extra small
    // Class name: .text-secondary-body-xs
    &-xs {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-secondary-googlefont,
        $text-font-size: $font-size-secondary-body-xs,
        $text-font-weight: 400,
        $text-line-height: $line-height-secondary-body,
        $text-letter-spacing: $letter-spacing-secondary-body
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-secondary-googlefont,
          $text-font-size: $font-size-secondary-body-xs,
          $text-font-weight: 500,
          $text-line-height: $line-height-secondary-body,
          $text-letter-spacing: $letter-spacing-secondary-body
        );
      }
    }

    // Small
    // Class name: .text-secondary-body-sm
    &-sm {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-secondary-googlefont,
        $text-font-size: $font-size-secondary-body-sm,
        $text-font-weight: 400,
        $text-line-height: $line-height-secondary-body,
        $text-letter-spacing: $letter-spacing-secondary-body
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-secondary-googlefont,
          $text-font-size: $font-size-secondary-body-sm,
          $text-font-weight: 500,
          $text-line-height: $line-height-secondary-body,
          $text-letter-spacing: $letter-spacing-secondary-body
        );
      }
    }

    // Medium
    // Class name: .text-secondary-body-md
    &-md {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-secondary-googlefont,
        $text-font-size: $font-size-secondary-body-md,
        $text-font-weight: 400,
        $text-line-height: $line-height-secondary-body,
        $text-letter-spacing: $letter-spacing-secondary-body
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-secondary-googlefont,
          $text-font-size: $font-size-secondary-body-md,
          $text-font-weight: 500,
          $text-line-height: $line-height-secondary-body,
          $text-letter-spacing: $letter-spacing-secondary-body
        );
      }
    }

    // Large
    // Class name: .text-secondary-body-lg
    &-lg {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-secondary-googlefont,
        $text-font-size: $font-size-secondary-body-lg,
        $text-font-weight: 400,
        $text-line-height: $line-height-secondary-body,
        $text-letter-spacing: $letter-spacing-secondary-body
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-secondary-googlefont,
          $text-font-size: $font-size-secondary-body-lg,
          $text-font-weight: 500,
          $text-line-height: $line-height-secondary-body,
          $text-letter-spacing: $letter-spacing-secondary-body
        );
      }
    }

    // Extra large
    // Class name: .text-secondary-body-xl
    &-xl {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-secondary-googlefont,
        $text-font-size: $font-size-secondary-body-xl,
        $text-font-weight: 400,
        $text-line-height: $line-height-secondary-body,
        $text-letter-spacing: $letter-spacing-secondary-body
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-secondary-googlefont,
          $text-font-size: $font-size-secondary-body-xl,
          $text-font-weight: 500,
          $text-line-height: $line-height-secondary-body,
          $text-letter-spacing: $letter-spacing-secondary-body
        );
      }
    }
  }

  // Heading
  &-heading {
    // Extra small
    // Class name: .text-secondary-heading-xs
    &-xs {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-secondary-googlefont,
        $text-font-size: $font-size-secondary-heading-xs,
        $text-font-weight: 400,
        $text-line-height: $line-height-secondary-heading,
        $text-letter-spacing: $letter-spacing-secondary-heading
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-secondary-googlefont,
          $text-font-size: $font-size-secondary-heading-xs,
          $text-font-weight: 500,
          $text-line-height: $line-height-secondary-heading,
          $text-letter-spacing: $letter-spacing-secondary-heading
        );
      }
    }

    // Small
    // Class name: .text-secondary-heading-sm
    &-sm {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-secondary-googlefont,
        $text-font-size: $font-size-secondary-heading-sm,
        $text-font-weight: 400,
        $text-line-height: $line-height-secondary-heading,
        $text-letter-spacing: $letter-spacing-secondary-heading
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-secondary-googlefont,
          $text-font-size: $font-size-secondary-heading-sm,
          $text-font-weight: 500,
          $text-line-height: $line-height-secondary-heading,
          $text-letter-spacing: $letter-spacing-secondary-heading
        );
      }
    }

    // Medium
    // Class name: .text-secondary-heading-md
    &-md {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-secondary-googlefont,
        $text-font-size: $font-size-secondary-heading-md,
        $text-font-weight: 400,
        $text-line-height: $line-height-secondary-heading,
        $text-letter-spacing: $letter-spacing-secondary-heading
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-secondary-googlefont,
          $text-font-size: $font-size-secondary-heading-md,
          $text-font-weight: 500,
          $text-line-height: $line-height-secondary-heading,
          $text-letter-spacing: $letter-spacing-secondary-heading
        );
      }
    }

    // Large
    // Class name: .text-secondary-heading-lg
    &-lg {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-secondary-googlefont,
        $text-font-size: $font-size-secondary-heading-lg,
        $text-font-weight: 400,
        $text-line-height: $line-height-secondary-heading,
        $text-letter-spacing: $letter-spacing-secondary-heading
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-secondary-googlefont,
          $text-font-size: $font-size-secondary-heading-lg,
          $text-font-weight: 500,
          $text-line-height: $line-height-secondary-heading,
          $text-letter-spacing: $letter-spacing-secondary-heading
        );
      }
    }

    // Extra large
    // Class name: .text-secondary-heading-xl
    &-xl {
      @include text-variant(
        $text-display: inline-block,
        $text-font-family: $font-family-secondary-googlefont,
        $text-font-size: $font-size-secondary-heading-xl,
        $text-font-weight: 400,
        $text-line-height: $line-height-secondary-heading,
        $text-letter-spacing: $letter-spacing-secondary-heading
      );

      &-medium {
        @include text-variant(
          $text-display: inline-block,
          $text-font-family: $font-family-secondary-googlefont,
          $text-font-size: $font-size-secondary-heading-xl,
          $text-font-weight: 500,
          $text-line-height: $line-height-secondary-heading,
          $text-letter-spacing: $letter-spacing-secondary-heading
        );
      }
    }
  }

  // STYLES OF MODIFIER CLASS
  // >>>>>>>>>>>>>>>>>>>>>>>
  // Not create modifier class for font weight bold because can't direct @extend to class
  // &.is-medium {
  //   font-family: $font-family-secondary-googlefont;
  // }

  // MEDIA QUERY
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
