// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Variables
// * Path files
// * Colors
// * Font families
// * Font sizes
// * Line heights
// * Letter spacings
// * Text styles
// * Z indexs
// * Breakpoints (Physical width of device screen)
// * Transition
// * Animation timings
// * Border radiuses
// * Box shadows
// * Component widths
// * Component heights
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Path files
// ============================================================
$path-file-images: '../images' !default;
$path-file-fonts: '../fonts' !default;
$path-file-fonts-primary-regular: '../fonts/pridi/pridi-regular' !default;
$path-file-fonts-primary-medium: '../fonts/pridi/pridi-medium' !default;
$path-file-fonts-secondary-regular: '../fonts/prompt/prompt-regular' !default;
$path-file-fonts-secondary-medium: '../fonts/prompt/prompt-medium' !default;
$path-file-contents: '../images/contents' !default;
$path-file-icons: '../images/icons' !default;
$path-file-logos: '../images/logos' !default;

// Colors
// ============================================================
$color-black: #000000 !default;
$color-white: #FFFFFF !default;

$color-gray-1: #f6f6f6 !default;
$color-gray-2: #939393 !default;
$color-gray-3: #767676 !default;
$color-gray-4: #EDEDED !default;
$color-gray-5: #AAAAAA !default;
$color-gray-6: #E7E7E7 !default;
$color-gray-7: #CCCCCC !default;
$color-red-1: #f04d52 !default;
$color-red-2: #d90022 !default;
$color-green-1: #13c846 !default;
$color-green-2: #3F9D2F !default;
$color-blue-1: #26a2f6 !default;
$color-yellow-1: #FFFF00 !default;
$color-overlay-1: rgba(0, 0, 0, 0.5) !default;

// Font families
// ============================================================
$font-family-primary-regular: Pridi-Regular !default;
$font-family-primary-medium: Pridi-Medium !default;
$font-family-secondary-regular: Prompt-Regular !default;
$font-family-secondary-medium: Prompt-Medium !default;

$font-family-primary-googlefont: 'Pridi', serif !default;
$font-family-secondary-googlefont: 'Prompt', sans-serif !default;

// Font sizes
// ============================================================
// Primary body
$font-size-primary-body-xs: 12px !default;
$font-size-primary-body-sm: 14px !default;
$font-size-primary-body-md: 16px !default;
$font-size-primary-body-lg: 18px !default;
$font-size-primary-body-xl: 20px !default;

// Primary heading
$font-size-primary-heading-xs: 24px !default;
$font-size-primary-heading-sm: 28px !default;
$font-size-primary-heading-md: 32px !default;
$font-size-primary-heading-lg: 36px !default;
$font-size-primary-heading-xl: 48px !default;

// Secondary body
$font-size-secondary-body-xs: 12px !default;
$font-size-secondary-body-sm: 14px !default;
$font-size-secondary-body-md: 16px !default;
$font-size-secondary-body-lg: 18px !default;
$font-size-secondary-body-xl: 21px !default;

// Secondary heading
$font-size-secondary-heading-xs: 25px !default;
$font-size-secondary-heading-sm: 28px !default;
$font-size-secondary-heading-md: 32px !default;
$font-size-secondary-heading-lg: 36px !default;
$font-size-secondary-heading-xl: 48px !default;

// Line heights
// ============================================================
$line-height-primary-body: 1.3 !default;
$line-height-primary-heading: 1.3 !default;
$line-height-secondary-body: 1.3 !default;
$line-height-secondary-heading: 1.3 !default;

// Letter spacings
// ============================================================
$letter-spacing-primary-body: normal !default;
$letter-spacing-primary-heading: normal !default;
$letter-spacing-secondary-body: normal !default;
$letter-spacing-secondary-heading: normal !default;

// Text styles
// your stylesheets. Example: @extend #{$text-style-primary-body-xs};
// ============================================================
// Primary body
$text-style-primary-body-xs: '.text-primary-body-xs' !default;
$text-style-primary-body-sm: '.text-primary-body-sm' !default;
$text-style-primary-body-md: '.text-primary-body-md' !default;
$text-style-primary-body-lg: '.text-primary-body-lg' !default;
$text-style-primary-body-xl: '.text-primary-body-xl' !default;
$text-style-primary-body-xs-medium: '.text-primary-body-xs-medium' !default;
$text-style-primary-body-sm-medium: '.text-primary-body-sm-medium' !default;
$text-style-primary-body-md-medium: '.text-primary-body-md-medium' !default;
$text-style-primary-body-lg-medium: '.text-primary-body-lg-medium' !default;
$text-style-primary-body-xl-medium: '.text-primary-body-xl-medium' !default;

// Primary Heading
$text-style-primary-heading-xs: '.text-primary-heading-xs' !default;
$text-style-primary-heading-sm: '.text-primary-heading-sm' !default;
$text-style-primary-heading-md: '.text-primary-heading-md' !default;
$text-style-primary-heading-lg: '.text-primary-heading-lg' !default;
$text-style-primary-heading-xl: '.text-primary-heading-xl' !default;
$text-style-primary-heading-xs-medium: '.text-primary-heading-xs-medium' !default;
$text-style-primary-heading-sm-medium: '.text-primary-heading-sm-medium' !default;
$text-style-primary-heading-md-medium: '.text-primary-heading-md-medium' !default;
$text-style-primary-heading-lg-medium: '.text-primary-heading-lg-medium' !default;
$text-style-primary-heading-xl-medium: '.text-primary-heading-xl-medium' !default;

// Secondary body
$text-style-secondary-body-xs: '.text-secondary-body-xs' !default;
$text-style-secondary-body-sm: '.text-secondary-body-sm' !default;
$text-style-secondary-body-md: '.text-secondary-body-md' !default;
$text-style-secondary-body-lg: '.text-secondary-body-lg' !default;
$text-style-secondary-body-xl: '.text-secondary-body-xl' !default;
$text-style-secondary-body-xs-medium: '.text-secondary-body-xs-medium' !default;
$text-style-secondary-body-sm-medium: '.text-secondary-body-sm-medium' !default;
$text-style-secondary-body-md-medium: '.text-secondary-body-md-medium' !default;
$text-style-secondary-body-lg-medium: '.text-secondary-body-lg-medium' !default;
$text-style-secondary-body-xl-medium: '.text-secondary-body-xl-medium' !default;

// Secondary Heading
$text-style-secondary-heading-xs: '.text-secondary-heading-xs' !default;
$text-style-secondary-heading-sm: '.text-secondary-heading-sm' !default;
$text-style-secondary-heading-md: '.text-secondary-heading-md' !default;
$text-style-secondary-heading-lg: '.text-secondary-heading-lg' !default;
$text-style-secondary-heading-xl: '.text-secondary-heading-xl' !default;
$text-style-secondary-heading-xs-medium: '.text-secondary-heading-xs-medium' !default;
$text-style-secondary-heading-sm-medium: '.text-secondary-heading-sm-medium' !default;
$text-style-secondary-heading-md-medium: '.text-secondary-heading-md-medium' !default;
$text-style-secondary-heading-lg-medium: '.text-secondary-heading-lg-medium' !default;
$text-style-secondary-heading-xl-medium: '.text-secondary-heading-xl-medium' !default;

// Z indexs
// ============================================================
$z-index-1: 1 !default;
$z-index-2: 9 !default;
$z-index-3: 99 !default;
$z-index-4: 999 !default;
$z-index-5: 9999 !default;

// Breakpoints (Physical width of device screen)
// ============================================================
// Mobile
$breakpoint-mobile-xs: 320px !default;
$breakpoint-mobile-sm: 360px !default;
$breakpoint-mobile-md: 375px !default;
$breakpoint-mobile-lg: 414px !default;

// Phablet
$breakpoint-phablet-xs: 480px !default;
$breakpoint-phablet-sm: 640px !default;
$breakpoint-phablet-md: 667px !default;
$breakpoint-phablet-lg: 736px !default;

// Tablet
$breakpoint-tablet-xs: 768px !default;
$breakpoint-tablet-sm: 800px !default;
$breakpoint-tablet-md: 960px !default;
$breakpoint-tablet-lg: 1024px !default;
$breakpoint-tablet-xs-min: $breakpoint-tablet-xs + 1 !default;
$breakpoint-tablet-lg-min: $breakpoint-tablet-lg + 1 !default;

// Desktop
$breakpoint-desktop-xs: 1280px !default;
$breakpoint-desktop-sm: 1366px !default;
$breakpoint-desktop-md: 1440px !default;
$breakpoint-desktop-lg: 1600px !default;
$breakpoint-desktop-xl: 1920px !default;
$breakpoint-desktop-xxl: 2560px !default;

// Mobile max
$breakpoint-mobile-xs-max: ($breakpoint-mobile-sm - 1px) !default;
$breakpoint-mobile-sm-max: ($breakpoint-mobile-md - 1px) !default;
$breakpoint-mobile-md-max: ($breakpoint-mobile-lg - 1px) !default;
$breakpoint-mobile-lg-max: ($breakpoint-phablet-xs - 1px) !default;

// Phablet max
$breakpoint-phablet-xs-max: ($breakpoint-phablet-sm - 1px) !default;
$breakpoint-phablet-sm-max: ($breakpoint-phablet-md - 1px) !default;
$breakpoint-phablet-md-max: ($breakpoint-phablet-lg - 1px) !default;
$breakpoint-phablet-lg-max: ($breakpoint-tablet-xs - 1px) !default;

// Tablet max
$breakpoint-tablet-xs-max: ($breakpoint-tablet-sm - 1px) !default;
$breakpoint-tablet-sm-max: ($breakpoint-tablet-md - 1px) !default;
$breakpoint-tablet-md-max: ($breakpoint-tablet-lg - 1px) !default;
$breakpoint-tablet-lg-max: ($breakpoint-desktop-xs - 1px) !default;

// Desktop max
$breakpoint-desktop-xs-max: ($breakpoint-desktop-sm - 1px) !default;
$breakpoint-desktop-sm-max: ($breakpoint-desktop-md - 1px) !default;
$breakpoint-desktop-md-max: ($breakpoint-desktop-lg - 1px) !default;
$breakpoint-desktop-lg-max: ($breakpoint-desktop-xl - 1px) !default;
$breakpoint-desktop-xl-max: ($breakpoint-desktop-xxl - 1px) !default;

// Transition
// ============================================================
$transition-default: all 0.3s ease !default;

// Animation timings
// ============================================================
$animation-timing-elastic: cubic-bezier(.835, -.005, .06, 1) !default;

// Border radiuses
// ============================================================
$border-radius-xs: 3px !default;
$border-radius-sm: 5px !default;

// Box shadows
// ============================================================
$box-shadow-1: 0 0 5px rgba(0, 0, 0, 0.25) !default;

// Component widths
// ============================================================
$button-min-width: 75px !default;
// Table
$table-column-code-width: 65px !default;
$table-column-compony-group-width: 150px !default;
$table-column-compony-name-width: 150px !default;
$table-column-username-width: 100px !default;
$table-column-password-width: 100px !default;
$table-column-name-width: 150px !default;
$table-column-surname-width: 150px !default;
$table-column-name-surname-width: 300px !default;
$table-column-phone-width: 100px !default;
$table-column-email-width: 225px !default;
$table-column-operation-width: 50px !default;
$table-column-two-operations-width: 75px !default;
$table-column-verify-operations-width: 200px !default;
$table-column-approve-operations-width: 200px !default;
$table-column-active-operations-width: 150px !default;
$table-column-mornitor-operations-width: 225px !default;
$table-column-verify-member-width: 150px !default;
$table-column-status-width: 125px !default;
$table-column-license-width: 100px !default;
$table-column-series-width: 100px !default;
$table-column-model-width: 200px !default;
$table-column-color-width: 125px !default;
$table-column-type-width: 65px !default;
$table-column-station-width: 150px !default;
$table-column-startdate-width: 100px !default;
$table-column-enddate-width: 100px !default;
$table-column-amount-width: 100px !default;
$table-column-minute-width: 100px !default;
$table-column-van-number-width: 100px !default;
$table-column-starttime-width: 100px !default;
$table-column-mapinfo-width: 100px !default;
$table-column-memo-width: 300px !default;
$table-column-package-name-width: 150px !default;
$table-column-price-width: 100px !default;
$table-column-sippcode-width: 100px !default;
$table-column-min-width: 100px !default;
$table-column-km-width: 100px !default;
$table-column-checkbox-width: 65px !default;
$table-column-id-width: 65px !default;
$table-column-promocode-width: 150px !default;
$table-column-total-width: 100px !default;
$table-column-discount-width: 100px !default;
$table-column-number-width: 100px !default;
$table-column-status-circle-width: 60px !default;
$table-column-birthday-width: 100px !default;
$table-column-address-width: 200px !default;
$table-column-province-width: 125px !default;
$table-column-zipcode-width: 100px !default;
$table-column-driver-license-width: 125px !default;
$table-column-payment-width: 75px !default;
$table-column-tax-invoice-width: 175px !default;
$table-column-status-icon-width: 35px !default;
$table-column-personal-info-width: 200px !default;
$table-column-register-code-width: 115px !default;
$table-column-datetime-width: 150px !default;
$table-column-department-width: 250px !default;
$table-column-note-width: 200px !default;
$table-column-car-id-width: 100px !default;
$table-column-car-name-width: 200px !default;
$table-column-section-width: 250px !default;
$table-column-staff-id-width: 100px !default;
$table-column-trip-ref-width: 125px !default;
$table-column-fuel-width: 100px !default;
$table-column-odb-width: 100px !default;
$table-column-acc-width: 100px !default;
$table-column-door-width: 100px !default;
$table-column-cut-engine-width: 150px !default;
$table-column-battery-width: 150px !default;
$table-column-status-trip-width: 85px !default;
$table-column-location-width: 200px !default;
// Label
$label-width-mn: 35px !default;
$label-width-tn: 70px !default;
$label-width-xxs: 80px !default;
$label-width-sm: 105px !default;
$label-width-md: 150px !default;
$label-width-lg: 200px !default;


// Component heights
// ============================================================
$topbar-height: 40px !default;
$field-height: 32px !default;
$button-height: $field-height !default;
